.comment-controls {
  display: flex;
  margin-left: auto;
  position: absolute;
  top: 27px;
  right: 25px;

  @supports (gap: 0px) {
    gap: 25px;
    
    @media (max-width: 750px) {
      gap: 15px;
    }
  }

  @media (max-width: 650px) {
    top: initial;
    bottom: 22px;
  }

  &--reply {
    color: var(--clr-primary-moderate-blue);
  }
  &--edit {
    color: var(--clr-primary-moderate-blue);
  }
  &--delete {
    color: var(--clr-primary-soft-red);

    @media (pointer: fine) {
      transition: color 0.25s ease-out;
      &:hover {
        color: var(--clr-primary-pale-red);
      }
    }
  }

  &--reply,
  &--edit {
    @media (pointer: fine) {
      transition: color 0.25s ease-out;
      &:hover {
        color: var(--clr-primary-light-grayish-blue);
      }
    }
  }
}
